@model ShungoExpress.Web.Models.ClientViewModel
@{
  ViewData["Title"] = "Edit";
}

<h4>Cliente</h4>
<hr />
<div class="row">
  <div class="col-md-4">
    <form asp-action="Create">
      <div asp-validation-summary="ModelOnly" class="text-danger"></div>
      <input type="hidden" asp-for="RedirectUrl" />

      <div class="form-group">
        <label asp-for="FirstName">Nombre</label>
        <input asp-for="FirstName" class="form-control" />
        <span asp-validation-for="FirstName" class="text-warning"></span>
      </div>

      <div class="form-group">
        <label asp-for="LastName">Apellido</label>
        <input asp-for="LastName" class="form-control" />
        <span asp-validation-for="LastName" class="text-warning"></span>
      </div>

      <div class="form-group">
        <label asp-for="Address">Dirección</label>
        <input asp-for="Address" class="form-control" />
        <span asp-validation-for="Address" class="text-warning"></span>
      </div>

      <div class="form-group">
        <label asp-for="AddressUrl">Link dirección</label>
        <input asp-for="AddressUrl" class="form-control" />
        <span asp-validation-for="AddressUrl" class="text-warning"></span>
      </div>

      <div class="form-group">
        <label asp-for="PhoneNumber">Celular</label>
        <input asp-for="PhoneNumber" class="form-control" />
        <span asp-validation-for="PhoneNumber" class="text-warning"></span>
      </div>

      <div class="form-group">
        <input type="submit" value="Crear" class="btn btn-primary" />
        <a href="javascript:void(0);" onclick="history.go(-1);" class="btn btn-success"><i class="fa fa-chevron-left"></i>Atrás</a>
      </div>
    </form>
  </div>
</div>

<div class="text-success">
  <p>
    @ViewBag.Message
  </p>
</div>