@{
  ViewData["Title"] = "Home";
}
<style type="text/css">
  .img { 
      max-height: 100%;
      max-width: 100%;
      margin: auto;
    }
</style>
<div class="text-center" style="padding:10px;">
  <h1 class="display-4">Welcome!</h1>

  <img class="img" src="~/images/principal.png" alt="" />
</div>
